<div class="container mt-5">
  <div class="row text-center border border-secondary rounded-3">
    <ng-container *ngFor="let rate of rates">
      <div class="col col-3 my-auto">
        <div class="text-success" >{{rate.name}}</div>
        <div class="fw-bold">{{rate.value | number : '1.3-4' }}</div>
      </div>
    </ng-container>
    <div class="col col-3 my-auto bg-success text-dark bg-opacity-25">
      <div class="fw-bold">Updated:</div>
      <div class="text-success">{{ date | date : 'hh:mm:ss dd.MM.yy' }}</div>
    </div>
  </div>
</div>
