<div class="container mt-5">
  <form class="input-group border-light-green">
    <select 
      class="form-select"
      name="from" 
      (change)="onSelectFrom($event)"
    >
      <ng-container *ngFor="let currency of currencies">
        <option 
          [selected]="currency === base ? true : false" 
          value="{{ currency }}"
        >{{ currency }}</option>
      </ng-container>
    </select>
    <input 
      type="text" 
      class="form-control fs-5 fw-bold bg-success text-dark bg-opacity-10 text-center" 
      name="amount"
      (change)="onChangeInputAmount($event)" 
      [(ngModel)]="amount"
    >
    <select 
      class="form-select"
      name="to"
      (change)="onSelectTo($event)"
    >
      <ng-container *ngFor="let currency of currencies">
        <option 
          [selected]="currency === base ? true : false" 
          value="{{ currency }}"
        >{{ currency }}</option>
      </ng-container>
    </select>
    <input 
      type="text" 
      class="form-control fs-5 fw-bold bg-success text-dark bg-opacity-10 text-center" 
      name="target" 
      (change)="onChangeInputTarget($event)"
      [(ngModel)]="target"
    >
  </form>
</div>
